@page
@model IndexModel

@{
	// Set up some page values
	ViewData["Title"] = "Twitter SampledStream Application";
}

<style>
	p {
		height: 100px;
	}

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>

<div class="container">

	<div class="text-center">
		<h2 class="display-4">Welcome to our Twitter SampledStream Application on this fine @Model.DayName</h2>

		<p />

		<div class="container col-6">
			<table>
				<tr>
					<th>Statistic</th>
					<th>Value</th>
				</tr>
				<tr>
					<td>Last updated</td>
					<td id="last-updated">@Model.LastUpdated</td>
				</tr>
				<tr>
					<td>Total tweets</td>
					<td id="total-tweets">@IndexModel.TotalTweets</td>
				</tr>
			</table>
		</div>

		<p />
		<hr />
		<p>Learn more about <a href="https://www.judcole.com">Jud Cole</a>.</p>
	</div>
</div>